.homeContainer {
  padding: 2rem;
  .homeContent {
    background-color: #efefef;
    padding: 2rem;

    header {
      text-align: center;
      h1 {
        font-weight: 700;
      }
    }

    main {
      display: flex;

      flex-wrap: wrap;
      gap: 2rem;

      border: 1px solid red;
    }
  }
}
