.homePage {
  padding: 2rem;

  .homeContainer {
    background-color: #efefef;
    padding: 2rem;

    .homeHeader {
      text-align: center;
      h1 {
        font-weight: 700;
      }
    }

    .homeContent {
      margin-top: 4rem;
      display: flex;
      gap: 3rem;
    }
  }
}

@media (max-width: 1024px) {
  .homeContent {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 3rem;
  }
}
