.resultContainer {
  .notFoundMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    text-align: center;
  }

  h2 {
    font-weight: 700;
  }

  .resultContent {
    margin-top: 2rem;

    display: grid;
    grid-gap: 2rem 3rem;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem 1rem;
    }

    @media (max-width: 425px) {
      align-self: center;
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  .chart {
    margin-top: 1.5rem;
    font-weight: 600;
  }
}
