.simulatorContainer {
  width: 40%;
  max-width: 550px;

  .simulatorContent {
    margin-top: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
